body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  padding: 75px;
  background-color: #eef;
}
p {
  margin-left: 10px;
}
iframe {
  border-radius: 20px;
  border-style: dashed;
  border-color: #005;
}
